#root {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}
/* or: npm install react-scroll - more control for example offset*/
